.title {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

.tasks {
  width: 300px;
  padding: 0;
  margin: 20px auto 0;
  text-align: left;
  list-style-type: none;
}

.tasks > li {
  margin-top: 10px;
  border-bottom: 1px solid #eee;
}

.deleteBtn {
  float: right;
}

.list {
  width: 100%;
  height: 100px;
  padding: 0.5em;
  padding: 0;
  margin-right: 30px;
  margin-bottom: 5px;
  margin-left: 30px;
  line-height: 1.5;
  color: #505050;
  vertical-align: middle;
  list-style-type: none !important;
  background: #dbebf8;
  border-radius: 15px 0 0 15px;

  /* ポチ消す */

  /* 左側の角丸く */
}

.list::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 8px;
  vertical-align: middle;

  /* 以下白丸つくる */
  content: '';
  background: #fff;
  border-radius: 50%;
}

.base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.head {
  text-align: center;
}

.listed {
  width: 600px;
  border: 3px;
}
