.title {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

.tasks {
  width: 300px;
  padding: 0;
  margin: 20px auto 0;
  text-align: left;
  list-style-type: none;
}

.tasks > li {
  margin-top: 10px;
  border-bottom: 1px solid #eee;
}

.deleteBtn {
  float: right;
}

.list {
  width: 100%;
  height: 100px;
  padding: 0.5em;
  padding: 0;
  margin-right: 30px;
  margin-bottom: 5px;
  margin-left: 30px;
  line-height: 1.5;
  color: #505050;
  vertical-align: middle;
  list-style-type: none !important;
  background: #dbebf8;
  border-radius: 15px 0 0 15px;

  /* ポチ消す */

  /* 左側の角丸く */
}

.list::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 8px;
  vertical-align: middle;

  /* 以下白丸つくる */
  content: '';
  background: #fff;
  border-radius: 50%;
}

.base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.head {
  font-size: 30px;
  text-align: center;
}

.listed {
  width: 600px;
  border: 3px;
}

.name {
  font-size: 20px;
  text-align: center;
}

.selectbox002 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
}

.selectbox002::before,
.selectbox002::after {
  position: absolute;
  pointer-events: none;
  content: '';
}

.selectbox002::before {
  right: 0;
  display: inline-block;
  width: 2.8em;
  height: 2.8em;
  content: '';
  background-color: #2589d0;
  border-radius: 0 3px 3px 0;
}

.selectbox002::after {
  position: absolute;
  top: 50%;
  right: 1.4em;
  width: 6px;
  height: 6px;
  content: '';
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: translate(50%, -50%) rotate(45deg);
}

.selectbox002 select {
  min-width: 230px;
  height: 2.8em;
  padding: 0.4em 3.6em 0.4em 0.8em;
  font-size: 1em;
  color: #333;
  cursor: pointer;
  border: 2px solid #2589d0;
  border-radius: 3px;
}

.selectbox002 select:focus {
  outline: 1px solid #2589d0;
}

.selectbox005 {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.selectbox005::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  pointer-events: none;
  content: '';
  background-color: #535353;
}

.selectbox005 select {
  min-width: 230px;
  height: 2.8em;
  padding: 0.4em calc(0.8em + 30px) 0.4em 0.8em;
  font-size: 1em;
  color: #333;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #ccc;
  appearance: none;
}

.selectbox005 select:focus {
  outline: none;
}
